extends layout

block page_title
    title Iha panē dā siralēkha hai

block greeting
  h1 Sati srī akāla Duni'ā! 

block software_engineer
        p Maiṁ jaladī hī ika sauphaṭavē'ara ijīnī'ara baṇana jā rihā hāṁ!
        img(src="/images/earth.jpeg" alt="The Earth" title="The Earth")